<% @article.each do |article| %>
  <div class="index_heading" ><%= link_to article.title , article_path(article)%> </div>
  <div id="index_value" >Author: <%= article.user.try(:username) %></div>
  <table>
    <div id="truncated_text"> <% if article.text.length > 150 %>
     <%= truncate_html(article.text, length: 150) %>
     <%= link_to '...Read more', article_path(article)%>

  <% else %>
    <%= article.text.html_safe %>
    </div>
<% end %>

<table>  
 <th><%= link_to '<button id="indexbtn" class="btn btn-info">Show</button>'.html_safe , article_path(article) %></th>
  <% if user_signed_in? && article.user_id == current_user.id %>
    <th><%= link_to '<button id="indexbtn" class="btn btn-warning">Edit</button>'.html_safe ,edit_article_path(article)%></th>
    <th><%= link_to '<button id="indexbtn" class="btn btn-danger">Delete</button>'.html_safe ,article_path(article), method: :delete, data: {confirm: 'are you sure?'}%></th>
  <%end%>
</table>
<hr/>
  <%end%>