<%= form_for @article do |form| %>
<%  if @article.errors.any? %>
<div id="error_explanation">
  <h2>
<%= pluralize(@article.errors.count," error") %>
 probhited this article from being saved
 <ul>
<% @article.errors.full_messages.each do |err| %>
<li> <%=err %> </li>
<%end%>
</ul>
</div>
<%end%>

    <%= form.label :title, class: ''%><br>
    <%= form.text_field :title ,class: 'inputexpand'%><br>
 
    <%= form.label :text  %><br>
    <%= form.text_area :text,class: 'inputexpand' %>
 
    <%= form.submit "Create Article" , class: 'btn btn-primary'%>
  
  <%end%>
