<div id="user-widget">
  <% if current_user.blank? %>
  <%= link_to "Sign in with Facebook", "/auth/facebook" %>
    <% else %>
    Welcome <%= current_user.username %><br>
     <%= link_to "Sign out", signout_path, method: :delete %>
  <% end %>
</div>
<h1 id="article_heading">Listing articles</h1>
 <div style="margin-bottom: 30px;font-size:2rem;font-weight: bold"><%= link_to 'New Article', new_article_path %></div>
<table>
  <tr>
    <th class="index_heading">Title</th>
    <th class="index_heading">Author</th>
    <th colspan="4"></th>
  </tr>
 
  <% @article.each do |article| %>
    <tr>
      <td id="index_value" class="col-md-2"><%= article.title %>  </td>
      <td id="index_value" class="col-md-2"><%= article.user.try(:email) %></td>
      <td><%= link_to '<button class="btn btn-info">Show</button>'.html_safe , article_path(article) %></td>
      <% if user_signed_in? && article.user_id == current_user.id %>
      <td><%= link_to '<button class="btn btn-warning">Edit</button>'.html_safe , edit_article_path(article) %></td>
		<td><%= link_to '<button class="btn btn-danger">Delete</button>'.html_safe ,article_path(article), method: :delete, data: {confirm: 'are you sure?'}%>
  <%end%>
    </td>
    </tr>
  <% end %>
</table>
