		<div style="positon:relative" class="well">
		<u><h1><%= @article.title %></h1></u>
	<p> <%=@article.text %></p>
	<%=render 'comments' %>
</div>
<%if user_signed_in? %>
	<div style="position:relative" class="well">
	<h2> Add comments </h2>
	<%= form_for([@article, @article.comments.build]) do |f| %>
	<p>
	<%= f.label 'Commenting as '%>
	<strong><%= current_user.username %></strong>
	</p>
	<p>
		<%=f.label :body %><br>
		<%= f.text_area :body%>
	</p>
	<p>
		<%= f.submit %>
	</p>
</div>
<%end%>
	<%end%>
	<% if user_signed_in? && @article.user_id == current_user.id %>
<%= link_to 'Edit' , edit_article_path(@article) %>
<%end%>
<%= link_to 'All' , articles_path %>